.DS_Store
CryptoApp/.DS_Store
CryptoApp/Assets.xcassets/
CryptoApp/Core/
CryptoApp/Preview Content/.DS_Store
CryptoApp.xcodeproj/project.xcworkspace/xcuserdata/fastlee.xcuserdatad/UserInterfaceState.xcuserstate
